.officer {
    margin-top: 188px;
    margin-bottom: 200px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.officer__heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(7, 19, 48, 0.6);
}

.officer__heading {
    font-weight: 400;
    font-size: 27px;
    line-height: 56px;
    text-align: center;
    color: #F0BCA3;
    max-width: 693px;
    margin: 0 auto;
}

.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.track__title {
    max-width: 468px;
}

.track__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D55F9;
}

.track__heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #071330;
    margin-top: 15px;
}

.track__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #071330;
}

.track__text {
    margin-top: 31px;
}

.find {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.find__title {
    max-width: 350px;
}

.find__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D55F9;
    display: inline-block;
    margin-bottom: 20px;
}

.find__heding {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #071330;
}

.find__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #071330;
    margin-top: 33px;
}

.find__text + .find__text {
    margin-top: 31px;
}

.skin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.skin__title {
    max-width: 450px;
}

.skin__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D55F9;
    display: inline-block;
    margin-bottom: 20px;
}

.skin__heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #071330;
}

.skin__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #071330;
    margin-top: 26px;
}

.skin__text + .skin__text {
    margin-top: 6px;
}

.moni__book {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.moni__book-img {
    margin-right: 24px;
}

.moni__book-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #071330;
}

.moni__back {
    display: flex;
    align-items: center;
}

.moni__beck-img {
    margin-right: 24px;
}

.moni__back-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #071330;
}